<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand" href="#">UISP-SAINT</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Sync UISP-SAINT</a></li>
                <li class="nav-item"></li>
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link active" href="#">Reportes</a>
                    <div class="dropdown-menu">
                        <a data-offset='ReporteClienteFechaCorte2' class="dropdown-item" href="#">Fecha Corte Clientes</a>
                        <a data-offset='ReporteClientesConexion' class="dropdown-item" href="#">Clientes por Tipo Conexión</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle nav-link active" href="#">Reportes Sync</a>
                    <div class="dropdown-menu">
                        <a data-offset='ReporteClienteExportar' class="dropdown-item" href="#">Cliente a Exportar</a>
                        <a data-offset='' class="dropdown-item" href="#">Cliente con Fallas</a>
                        <a data-offset='' class="dropdown-item" href="#">Cliente Omitidos</a>
                        <a data-offset='' class="dropdown-item" href="#">Facturas a Exportar</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>